@model IEnumerable<User>
    <table class="table table-sm table-bordered">
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Email</th>
            <th>Akcje</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td><button class="btn btn-primary">@Html.ActionLink("Usuń", "DeleteUser", new { id = user.Id }, new { style = "color:White;text-decoration-color: White;" })</button></td>
            </tr>
        }

    </table>

